JavaEE/ServletsExercicios/CartaoWebService/src/main/webapp/wsdl/Cartao.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.patrickriibeiro.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.patrickriibeiro.com" xmlns:intf="http://ws.patrickriibeiro.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4.1-SNAPSHOT
Built on Nov 07, 2023 (07:57:58 UTC)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.patrickriibeiro.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="numero" type="xsd:string"/>
   <element name="validarCartaoReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="validarCartaoResponse">

      <wsdl:part element="impl:validarCartaoReturn" name="validarCartaoReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validarCartaoRequest">

      <wsdl:part element="impl:numero" name="numero">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Cartao">

      <wsdl:operation name="validarCartao" parameterOrder="numero">

         <wsdl:input message="impl:validarCartaoRequest" name="validarCartaoRequest">

       </wsdl:input>

         <wsdl:output message="impl:validarCartaoResponse" name="validarCartaoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CartaoSoapBinding" type="impl:Cartao">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validarCartao">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validarCartaoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validarCartaoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CartaoService">

      <wsdl:port binding="impl:CartaoSoapBinding" name="Cartao">

         <wsdlsoap:address location="http://localhost:8081/CartaoWebService/services/Cartao"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
